body {
    background: #CCCCCC;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2;
}
.jp {
    font-size: 30px;
    text-align: center;
    color: rgb(83, 120, 223);
}
p {
    font-size: 24px;
    text-align: center;
    color: rgb(219, 65, 65);
}

#entrada {
    width: 50%;
    height:50% ;
    margin: 40px;
}
.catraz {
    font-size: 26px;
    text-align: center;
    position: relative;
    color: darkred;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
#slogol {
    position: absolute;
    position: bottom; 
    margin-left: 30%;
    text-align: center;
    font-size: 30px;
}